/*!
 *  This file is part of the GraphQLBundle Docs package.
 *
 *  (c) YnloUltratech <support@ynloultratech.com>
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.
 */

@media screen and (min-width: 769px) {
  .Container {
    width: 960px;
  }
}

.Homepage {
  .HomepageTitle {
    h2 {
      color: white;
      font-size: 3rem;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }
  }

  .HomepageButtons {
    background-color: var(--light);
    .Button--hero {
      background-color: transparent;
      border-radius: 10px;
      opacity: 1;
      width: 250px;
      border-color: #19947c;
      color: #fff;
      &:hover {
        border-color: #205f52;
      }
      &.Button--primary {
        background-color: #19947c;
        color: #fff;
        &:hover {
          background-color: #205f52;
          border-color: #205f52;
        }
      }
    }
  }
}

.HomepageContent {
  padding: 0;
  .HeroText {
    text-align: center;
    margin-top: 20px;
    .fa {
      font-size: 10rem;
      color: #333;
    }
  }

  .Row__third {
    h1 {
      margin-top: 0;
      border: none;
      font-size: 2rem;
      i {
        font-size: 2rem;
      }
    }
  }

  ol, ul {
    padding-left: 0.3em;
    li,
    li {
      &:before {
        border: none;
      }
      i {
        margin-right: 5px;
        width: 20px;
        text-align: center;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.HomepageFooter {
  a {
    color: #fff;
  }
}